# 忽略编译生成的文件
/build/
*.o
*.a
*.so
*.dylib
*.exe
*.out
*.log

# 忽略 CMake 临时文件
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 忽略 Visual Studio Code 配置文件（可选）
.vscode/

# 忽略某些操作系统生成的文件
.DS_Store
Thumbs.db
